.nav-hidden {
  display: none;
}

.container-margin-navbar {
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container-margin-navbar {
    max-width: calc(100% - 60px);
    padding: 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .container-margin-navbar {
    max-width: calc(100% - 100px);
    padding: 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .container-margin-navbar {
    width: var(--width);
    max-width: calc(100% - 130px);
    padding: 0 0;
  }
}

.shiny-navbar {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.3s;
}

.shiny-navbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  transform: translateX(-100%) rotate(45deg);
  background-color: white;
  transition: all 0.3s;
}

.shiny-navbar:hover:before {
  transform: translateX(100%) rotate(45deg);
}
.menuOpen {
  display: block;
  transition: transform 0.3s ease-in-out;
  top: 0;
}